In [3]:
import numpy as np
import pandas as pd

In [345]:
movies = pd.read_csv("./ml-1m/movies.dat", 
                     sep="::", engine="python", 
                     header=None, 
                     names=["MovieID","Title","Genres"])

In [346]:
users = pd.read_csv("./ml-1m/users.dat", 
                    sep="::", engine="python", 
                    header=None, 
                    names=["UserID","Gender","Age","Occupation","Zip-code"])

In [347]:
ratings = pd.read_csv("./ml-1m/ratings.dat", 
                      sep="::", engine="python", 
                      header=None,
                      names=["UserID","MovieID","Rating","Timestamp"])

In [46]:
#Rok produkcji filmu

In [348]:
# movies.Title.str[-5:-1]
# movies

movies["Year"] = movies.Title.str.extract(r"(\d{4})\)$")[0]

In [349]:
movies.Title = movies.Title.str[:-6]
movies

,MovieID,Title,Genres,Year
0,1,Toy Story,Animation|Children's|Comedy,1995
1,2,Jumanji,Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama,1995
4,5,Father of the Bride Part II,Comedy,1995
5,6,Heat,Action|Crime|Thriller,1995
6,7,Sabrina,Comedy|Romance,1995
7,8,Tom and Huck,Adventure|Children's,1995
8,9,Sudden Death,Action,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
10,11,"American President, The",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It,Comedy|Horror,1995
12,13,Balto,Animation|Children's,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Drama|Thriller,1995
16,17,Sense and Sensibility,Drama|Romance,1995
17,18,Four Rooms,Thriller,1995
18,19,Ace Ventura: When Nature Calls,Comedy,1995
19,20,Money Train,Action,1995
20,21,Get Shorty,Action|Comedy|Drama,1995
21,22,Copycat,Crime|Drama|Thriller,1995
22,23,Assassins,Thriller,1995
23,24,Powder,Drama|Sci-Fi,1995
24,25,Leaving Las Vegas,Drama|Romance,1995
25,26,Othello,Drama,1995
26,27,Now and Then,Drama,1995
27,28,Persuasion,Romance,1995
28,29,"City of Lost Children, The",Adventure|Sci-Fi,1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao),Drama,1995
...,...,...,...,...
3853,3923,Return of the Fly,Horror|Sci-Fi,1959
3854,3924,Pajama Party,Comedy,1964
3855,3925,Stranger Than Paradise,Comedy,1984
3856,3926,Voyage to the Bottom of the Sea,Adventure|Sci-Fi,1961
3857,3927,Fantastic Voyage,Adventure|Sci-Fi,1966
3858,3928,Abbott and Costello Meet Frankenstein,Comedy|Horror,1948
3859,3929,"Bank Dick, The",Comedy,1940
3860,3930,"Creature From the Black Lagoon, The",Horror,1954
3861,3931,"Giant Gila Monster, The",Horror|Sci-Fi,1959
3862,3932,"Invisible Man, The",Horror|Sci-Fi,1933
3863,3933,"Killer Shrews, The",Horror|Sci-Fi,1959
3864,3934,Kronos,Sci-Fi,1957
3865,3935,Kronos,Horror,1973
3866,3936,"Phantom of the Opera, The",Drama|Thriller,1943
3867,3937,Runaway,Sci-Fi|Thriller,1984
3868,3938,"Slumber Party Massacre, The",Horror,1982
3869,3939,"Slumber Party Massacre II, The",Horror,1987
3870,3940,"Slumber Party Massacre III, The",Horror,1990
3871,3941,Sorority House Massacre,Horror,1986
3872,3942,Sorority House Massacre II,Horror,1990
3873,3943,Bamboozled,Comedy,2000
3874,3944,Bootmen,Comedy|Drama,2000
3875,3945,Digimon: The Movie,Adventure|Animation|Children's,2000
3876,3946,Get Carter,Action|Drama|Thriller,2000
3877,3947,Get Carter,Thriller,1971
3878,3948,Meet the Parents,Comedy,2000
3879,3949,Requiem for a Dream,Drama,2000
3880,3950,Tigerland,Drama,2000
3881,3951,Two Family House,Drama,2000
3882,3952,"Contender, The",Drama|Thriller,2000

In [352]:
movies.Year = movies.Year.astype(int)

In [163]:
# Ilość filmów
len(movies)

3883

In [164]:
movies.groupby("Year").size().reset_index().sort_values(by=0, ascending=False) 
#pamiętamy o różnicy count (zlicza nie-nullowe wartości w każdej kolumnie), a size (zlicza ilość wierszy)

    Year    0
76  1996  345
75  1995  342
78  1998  337
77  1997  315
79  1999  283
74  1994  257
73  1993  165
80  2000  156
66  1986  104
72  1992  102
70  1990   77
67  1987   71
68  1988   69
65  1985   65
71  1991   60
69  1989   60
64  1984   60
62  1982   50
61  1981   43
60  1980   41
63  1983   35
59  1979   32
58  1978   30
53  1973   29
54  1974   28
51  1971   26
43  1963   25
47  1967   24
57  1977   22
52  1972   22
..   ...  ...
24  1944   13
22  1942   13
46  1966   12
31  1951   12
28  1948   12
21  1941   11
32  1952   11
17  1937   11
25  1945   11
19  1939   11
23  1943   10
29  1949   10
16  1936    8
6   1926    8
14  1934    7
13  1933    7
12  1932    7
11  1931    7
10  1930    7
7   1927    6
5   1925    6
18  1938    6
15  1935    6
8   1928    3
9   1929    3
4   1923    3
0   1919    3
1   1920    2
3   1922    2
2   1921    1

[81 rows x 2 columns]

In [151]:
movies.Year.value_counts().reset_index().sort_values(by="index")

    index  Year
75   1919     3
79   1920     2
80   1921     1
78   1922     2
76   1923     3
73   1925     6
63   1926     8
70   1927     6
74   1928     3
77   1929     3
66   1930     7
68   1931     7
67   1932     7
69   1933     7
65   1934     7
72   1935     6
64   1936     8
59   1937    11
71   1938     6
58   1939    11
38   1940    19
57   1941    11
52   1942    13
61   1943    10
51   1944    13
56   1945    11
50   1946    13
49   1947    14
55   1948    12
62   1949    10
..    ...   ...
25   1971    26
28   1972    22
23   1973    29
24   1974    28
34   1975    21
33   1976    21
30   1977    22
22   1978    30
21   1979    32
19   1980    41
18   1981    43
17   1982    50
20   1983    35
16   1984    60
13   1985    65
8    1986   104
11   1987    71
12   1988    69
15   1989    60
10   1990    77
14   1991    60
9    1992   102
6    1993   165
5    1994   257
1    1995   342
0    1996   345
3    1997   315
2    1998   337
4    1999   283
7    2000   156

[81 rows x 2 columns]

In [169]:
movies2 = movies.copy()
movies2.Year = pd.to_datetime(movies2['Year'])
movies2.head()

KeyError: 'Year'

In [167]:
movies2.set_index('Year').resample('10A').size()

Year
1970-12-31    3883
dtype: int64

In [170]:
#C. jak wygląda rozkład płci oraz grup wiekowych wśród użytkowników

In [188]:
pd.pivot_table(users[["Gender", "Age"]],
              index = ["Age", "Gender"],
              aggfunc = "size").reset_index()

    Age Gender     0
0     1      F    78
1     1      M   144
2    18      F   298
3    18      M   805
4    25      F   558
5    25      M  1538
6    35      F   338
7    35      M   855
8    45      F   189
9    45      M   361
10   50      F   146
11   50      M   350
12   56      F   102
13   56      M   278

In [225]:
movies.Genres.str.split("|", expand=True).stack().reset_index(drop=True).value_counts()

Drama          1603
Comedy         1200
Action          503
Thriller        492
Romance         471
Horror          343
Adventure       283
Sci-Fi          276
Children's      251
Crime           211
War             143
Documentary     127
Musical         114
Mystery         106
Animation       105
Western          68
Fantasy          68
Film-Noir        44
dtype: int64

In [234]:
movies.Genres.str.split("|", expand=True).melt().dropna().value.value_counts()

Drama          1603
Comedy         1200
Action          503
Thriller        492
Romance         471
Horror          343
Adventure       283
Sci-Fi          276
Children's      251
Crime           211
War             143
Documentary     127
Musical         114
Mystery         106
Animation       105
Western          68
Fantasy          68
Film-Noir        44
Name: value, dtype: int64

In [260]:
movie_rating = pd.DataFrame(pd.merge(movies, ratings))
movie_rating

pd.pivot_table(movie_rating[["Title", "Rating"]],
               index = ["Title"],
               aggfunc = "mean"
              ).sort_values(by=["Rating", "Title"], ascending=[False, True])

                                                      Rating
Title
Baby, The (1973)                                    5.000000
Bittersweet Motel (2000)                            5.000000
Follow the Bitch (1998)                             5.000000
Gate of Heavenly Peace, The (1995)                  5.000000
Lured (1947)                                        5.000000
One Little Indian (1973)                            5.000000
Schlafes Bruder (Brother of Sleep) (1995)           5.000000
Smashing Time (1967)                                5.000000
Song of Freedom (1936)                              5.000000
Ulysses (Ulisse) (1954)                             5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                 4.800000
Lamerica (1994)                                     4.750000
Apple, The (Sib) (1998)                             4.666667
Sanjuro (1962)                                      4.608696
Seven Samurai (The Magnificent Seven) (Shichini...  4.560510
Shawshank Redemption, The (1994)                    4.554558
Godfather, The (1972)                               4.524966
Close Shave, A (1995)                               4.520548
Usual Suspects, The (1995)                          4.517106
Schindler's List (1993)                             4.510417
Wrong Trousers, The (1993)                          4.507937
Bells, The (1926)                                   4.500000
Callej�n de los milagros, El (1995)                 4.500000
Dangerous Game (1993)                               4.500000
Dry Cleaning (Nettoyage � sec) (1997)               4.500000
Hour of the Pig, The (1993)                         4.500000
Inheritors, The (Die Siebtelbauern) (1998)          4.500000
Mamma Roma (1962)                                   4.500000
Skipped Parts (2000)                                4.500000
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.491489
...                                                      ...
Bloody Child, The (1996)                            1.000000
Cheetah (1989)                                      1.000000
Diebinnen (1995)                                    1.000000
Elstree Calling (1930)                              1.000000
Even Dwarfs Started Small (Auch Zwerge haben kl...  1.000000
Fantastic Night, The (La Nuit Fantastique) (1949)   1.000000
Get Over It (1996)                                  1.000000
Hillbillys in a Haunted House (1967)                1.000000
Kestrel's Eye (Falkens �ga) (1998)                  1.000000
Little Indian, Big City (Un indien dans la vill...  1.000000
Lotto Land (1995)                                   1.000000
Loves of Carmen, The (1948)                         1.000000
Low Life, The (1994)                                1.000000
McCullochs, The (1975)                              1.000000
Mutters Courage (1995)                              1.000000
Nueba Yol (1995)                                    1.000000
Santa with Muscles (1996)                           1.000000
Shadows (Cienie) (1988)                             1.000000
Silence of the Palace, The (Saimt el Qusur) (1994)  1.000000
Sleepover (1995)                                    1.000000
Spring Fever USA (a.k.a. Lauderdale) (1989)         1.000000
Terror in a Texas Town (1958)                       1.000000
Torso (Corpi Presentano Tracce di Violenza Carn...  1.000000
Underworld (1997)                                   1.000000
Uninvited Guest, An (2000)                          1.000000
Venice/Venice (1992)                                1.000000
Waltzes from Vienna (1933)                          1.000000
White Boys (1999)                                   1.000000
Windows (1980)                                      1.000000
Wirey Spindell (1999)                               1.000000

[3706 rows x 1 columns]

In [269]:
pd.pivot_table(movie_rating[["Title", "Rating"]],
               index = ["Title"],
               aggfunc = ["mean", "size"],
              )#sort_values(by=[("Rating","mean"), "Title"], ascending=[False, True])

                                                    mean  size
                                                  Rating     0
Title
$1,000,000 Duck (1971)                          3.027027    37
'Night Mother (1986)                            3.371429    70
'Til There Was You (1997)                       2.692308    52
'burbs, The (1989)                              2.910891   303
...And Justice for All (1979)                   3.713568   199
1-900 (1994)                                    2.500000     2
10 Things I Hate About You (1999)               3.422857   700
101 Dalmatians (1961)                           3.596460   565
101 Dalmatians (1996)                           3.046703   364
12 Angry Men (1957)                             4.295455   616
13th Warrior, The (1999)                        3.158667   750
187 (1997)                                      2.745455    55
2 Days in the Valley (1996)                     3.283217   286
20 Dates (1998)                                 2.856115   139
20,000 Leagues Under the Sea (1954)             3.702609   575
200 Cigarettes (1999)                           2.883978   181
2001: A Space Odyssey (1968)                    4.068765  1716
2010 (1984)                                     3.417021   470
24 7: Twenty Four Seven (1997)                  4.000000     5
24-hour Woman (1998)                            1.777778     9
28 Days (2000)                                  3.065347   505
3 Ninjas: High Noon On Mega Mountain (1998)     1.361702    47
3 Strikes (2000)                                2.750000     4
301, 302 (1995)                                 2.888889     9
39 Steps, The (1935)                            4.075099   253
400 Blows, The (Les Quatre cents coups) (1959)  4.320856   187
42 Up (1998)                                    4.227273    88
52 Pick-Up (1986)                               3.300000   140
54 (1998)                                       2.764479   259
7th Voyage of Sinbad, The (1958)                3.616279   258
...                                                  ...   ...
Wrongfully Accused (1998)                       2.552846   123
Wyatt Earp (1994)                               3.266667   270
X-Files: Fight the Future, The (1998)           3.492972   996
X-Men (2000)                                    3.820649  1511
X: The Unknown (1956)                           2.833333    12
Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)    3.652174    69
Yankee Zulu (1994)                              3.000000     2
Yards, The (1999)                               3.220779    77
Year My Voice Broke, The (1987)                 3.814815    27
Year of Living Dangerously (1982)               3.895141   391
Year of the Horse (1997)                        3.250000     4
Yellow Submarine (1968)                         3.696742   399
Yojimbo (1961)                                  4.404651   215
You Can't Take It With You (1938)               4.012987    77
You So Crazy (1994)                             2.615385    13
You've Got Mail (1998)                          3.380668   838
Young Doctors in Love (1982)                    2.607595    79
Young Frankenstein (1974)                       4.250629  1193
Young Guns (1988)                               3.418149   562
Young Guns II (1990)                            2.907859   369
Young Poisoner's Handbook, The (1995)           3.632911    79
Young Sherlock Holmes (1985)                    3.390501   379
Young and Innocent (1937)                       3.300000    10
Your Friends and Neighbors (1998)               3.376147   109
Zachariah (1971)                                3.500000     2
Zed & Two Noughts, A (1985)                     3.413793    29
Zero Effect (1998)                              3.750831   301
Zero Kelvin (Kj�rlighetens kj�tere) (1995)      3.500000     2
Zeus and Roxanne (1997)                         2.521739    23
eXistenZ (1999)                                 3.256098   410

[3706 rows x 2 columns]

In [278]:
srednieOceny = ratings.groupby("MovieID").agg({"Rating":["mean", "size"]})
srednieOceny100 = srednieOceny[srednieOceny[("Rating", "size")] > 100]
srednieOceny100.columns = ["mean", "size"]
pd.merge(srednieOceny100, movies, left_index=True, right_on="MovieID")\
            .sort_values(by="mean", ascending = False)

,mean,size,MovieID,Title,Genres
1950,4.560510,628,2019,Seven Samurai (The Magnificent Seven) (Shichin...,Action|Drama
315,4.554558,2227,318,"Shawshank Redemption, The (1994)",Drama
847,4.524966,2223,858,"Godfather, The (1972)",Action|Crime|Drama
735,4.520548,657,745,"Close Shave, A (1995)",Animation|Comedy|Thriller
49,4.517106,1783,50,"Usual Suspects, The (1995)",Crime|Thriller
523,4.510417,2304,527,Schindler's List (1993),Drama|War
1132,4.507937,882,1148,"Wrong Trousers, The (1993)",Animation|Comedy
910,4.491489,470,922,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),Film-Noir
1180,4.477725,2514,1198,Raiders of the Lost Ark (1981),Action|Adventure
892,4.476190,1050,904,Rear Window (1954),Mystery|Thriller
1162,4.473913,230,1178,Paths of Glory (1957),Drama|War
257,4.453694,2991,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
1194,4.452083,480,1212,"Third Man, The (1949)",Mystery|Thriller
740,4.449890,1367,750,Dr. Strangelove or: How I Learned to Stop Worr...,Sci-Fi|War
711,4.426941,438,720,Wallace & Gromit: The Best of Aardman Animatio...,Animation
1189,4.425647,928,1207,To Kill a Mockingbird (1962),Drama
3366,4.415608,551,3435,Double Indemnity (1944),Crime|Film-Noir
900,4.412822,1669,912,Casablanca (1942),Drama|Romance|War
2693,4.406263,2459,2762,"Sixth Sense, The (1999)",Thriller
2961,4.404651,215,3030,Yojimbo (1961),Comedy|Drama|Western
1186,4.401925,831,1204,Lawrence of Arabia (1962),Adventure|War
901,4.395973,1043,913,"Maltese Falcon, The (1941)",Film-Noir|Mystery
1176,4.390725,1725,1193,One Flew Over the Cuckoo's Nest (1975),Drama
911,4.388889,1116,923,Citizen Kane (1941),Drama
3238,4.387454,271,3307,City Lights (1931),Comedy|Drama|Romance
1230,4.386994,938,1250,"Bridge on the River Kwai, The (1957)",Drama|War
896,4.384030,1315,908,North by Northwest (1959),Drama|Thriller
1242,4.376437,696,1262,"Great Escape, The (1963)",Adventure|War
2953,4.368932,206,3022,"General, The (1927)",Comedy
1205,4.361522,473,1223,"Grand Day Out, A (1992)",Animation|Comedy
...,...,...,...,...,...
167,2.017699,113,169,Free Willy 2: The Adventure Home (1995),Adventure|Children's|Drama
2084,1.996528,288,2153,"Avengers, The (1998)",Action|Adventure
1903,1.995000,200,1972,"Nightmare on Elm Street 5: The Dream Child, A ...",Horror
1907,1.979899,199,1976,Friday the 13th Part 3: 3D (1982),Horror
2985,1.977941,136,3054,Pok�mon: The First Movie (1998),Animation|Children's
1360,1.963696,303,1381,Grease 2 (1982),Comedy|Musical|Romance
515,1.940594,202,519,Robocop 3 (1993),Sci-Fi|Thriller
3323,1.936306,157,3392,She-Devil (1989),Comedy
498,1.935484,155,502,"Next Karate Kid, The (1994)",Action|Children's
2729,1.925000,160,2798,Problem Child (1990),Comedy
3371,1.920213,188,3440,Teenage Mutant Ninja Turtles III (1993),Action|Children's|Fantasy
2312,1.913793,174,2381,Police Academy 4: Citizens on Patrol (1987),Comedy
2574,1.888554,332,2643,Superman IV: The Quest for Peace (1987),Action|Adventure|Sci-Fi
1659,1.876623,154,1707,Home Alone 3 (1997),Children's|Comedy
542,1.874286,350,546,Super Mario Bros. (1993),Action|Adventure|Children's|Sci-Fi
1707,1.873684,190,1760,Spice World (1997),Comedy|Musical
1517,1.871935,367,1556,Speed 2: Cruise Control (1997),Action|Romance|Thriller
2747,1.864865,148,2816,Iron Eagle II (1988),Action|War
389,1.857143,105,393,Street Fighter (1994),Action
1368,1.852381,210,1389,Jaws 3-D (1983),Action|Horror
1927,1.830357,112,1996,Poltergeist III (1988),Horror|Thriller
3495,1.804688,128,3564,"Flintstones in Viva Rock Vegas, The (2000)",Children's|Comedy
3199,1.782123,179,3268,Stop! Or My Mom Will Shoot (1992),Action|Comedy
1929,1.769912,113,1998,Exorcist II: The Heretic (1977),Horror
2313,1.766667,150,2382,Police Academy 5: Assignment: Miami Beach (1988),Comedy
2486,1.701220,164,2555,Baby Geniuses (1999),Comedy
2314,1.657718,149,2383,Police Academy 6: City Under Siege (1989),Comedy
2748,1.640000,125,2817,Aces: Iron Eagle III (1992),Action|War
3524,1.611111,342,3593,Battlefield Earth (2000),Action|Sci-Fi
800,1.466667,120,810,Kazaam (1996),Children's|Comedy|Fantasy

In [322]:
rating_users = pd.merge(ratings, users)
rating_users.head()

srednieOcenyPlcie = rating_users.groupby(["MovieID", "Gender"]).agg({"Rating":["mean", "size"]})
# srednieOceny100 = srednieOceny[srednieOceny[("Rating", "size")] > 100]

srednieOcenyPlcie.columns = ["mean", "size"]
srednieOcenyPlcie = srednieOcenyPlcie.reset_index()
srednieOcenyPlcie100 = srednieOcenyPlcie[srednieOcenyPlcie["size"] > 100]
pd.merge(srednieOcenyPlcie100, movies)\
        .sort_values(by="mean", ascending=False)\
        .drop_duplicates(subset="Gender")

,MovieID,Gender,mean,size,Title,Genres
474,745,F,4.644444,180,"Close Shave, A (1995)",Animation|Comedy|Thriller
521,858,M,4.583333,1740,"Godfather, The (1972)",Action|Crime|Drama

In [323]:
# H. jaki jest średni rok oglądanego filmu w poszczególnych grupach wiekowych

In [353]:
mru = pd.merge(pd.merge(movies, ratings), users)
mru.groupby("Age")["Year"].mean()
# mru.gropuby("Age")

Age
1     1988.981699
18    1989.701982
25    1987.972972
35    1984.965478
45    1983.500520
50    1982.483211
56    1981.549097
Name: Year, dtype: float64

In [370]:
# 3 gatunki najczęściej oglądane przez kobiety i mężczyzn
mru = pd.merge(pd.merge(movies, ratings), users)
men = mru[mru.Gender == "M"]
women = mru[mru.Gender == "F"]
# mru.groupby()

# movies.Genres.str.split("|", expand=True).stack().reset_index(drop=True).value_counts()

In [371]:
men.Genres.str.split("|", expand=True).stack().reset_index(drop=True).value_counts()

Comedy         260309
Drama          256376
Action         211807
Thriller       149372
Sci-Fi         129894
Adventure      106621
Romance         97226
Crime           63099
Horror          61751
War             54434
Children's      50869
Animation       31072
Mystery         30202
Musical         28028
Fantasy         27583
Western         17206
Film-Noir       14059
Documentary      5970
dtype: int64

In [372]:
women.Genres.str.split("|", expand=True).stack().reset_index(drop=True).value_counts()

Drama          98153
Comedy         96271
Romance        50297
Action         45650
Thriller       40308
Sci-Fi         27400
Adventure      27332
Children's     21317
Crime          16442
Horror         14635
War            14093
Musical        13505
Animation      12221
Mystery         9976
Fantasy         8718
Film-Noir       4202
Western         3477
Documentary     1940
dtype: int64